<nav class="navbar navbar-dark bg-dark navbar-expand-lg" id='navbar'>

    <a class="navbar-brand" href="/">TJCSS</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            
        </ul>
        {{#if user}}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        {{else}}
        <a href="/login"><button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">Log In</button></a>
        <a href="/signup"><button class="btn btn-light my-2 my-sm-0 mr-2" type="submit">Sign Up</button></a>
        {{/if}}
    </div>
    
</nav>