<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    <a class="navbar-brand" href="#">TJCSS</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
        </ul>

        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" type="submit">Log In</button>
        <button class="btn btn-primary my-2 my-sm-0 mr-2" type="submit">Sign Up</button>
        
    </div>
    
</nav>