<!DOCTYPE html>
<html>
    <head>
        <title>TJCSS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/hover-min.css">
    </head>
    <body>
        {{> navbar}}
        <div class="dashboard-container">

                    
            <h1 class="text-white mb-4"><span class="classname-span">{{data.className}}</span><span class="instructor-span">Instructor: {{data.teacher}}</span></h1>
            <hr class="box-hr">
                   

        </div>
            
        {{> scripts}}
    </body>
</html>