html, body {
    width:100%;
    margin:0;
    height:100%;
}

body {
    background: url('/media/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.55) !important;
}

.dropdown-menu {
	margin: 8px 0px!important;
}

.signup-box {
    border-radius: 25px;
    background-color: rgba(52, 58, 64, 0.4);
    border: 1px solid #ffffff;
}

.box-hr {
    border-color:#ffffff;
}

#logout-dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.55);
}

#logout-dropdown .dropdown-menu a{
    color: #ffffff;
}

#main-box {
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

#inline-ion-icon {
    height: 1em;
    transition: filter 0.15s ease-in-out;
}

#ion-login-button:hover #inline-ion-icon {
    filter: invert(100%);
}

