html, body {
    width:100%;
    margin:0;
    height:100%;
}

body {
    background: url('/media/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.55) !important;
    font-size: 1.2em;

}

.navbar-brand {
    font-size: 1.3em;
}

.dropdown-menu {
	margin: 8px 0px!important;
}


#logout-dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.55);
}

#logout-dropdown .dropdown-menu a{
    color: #ffffff;
}

#main-box {
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    width: 45%;
}

#inline-ion-icon {
    height: 1em;
    transition: filter 0.15s ease-in-out;
}

#inline-add-icon {
    height: 1.5em;
    filter: invert(100%);
    transition: filter 0.15s ease-in-out;
    padding-right: 0.5em;
}

#inline-gear-icon {
    height: 1.5em;
    filter: invert(100%);
    cursor: pointer;
}

#add-btn {
    border-radius: 25px;
}

#add-btn:hover #inline-add-icon {
    filter: invert(0%);
}

#ion-login-button:hover #inline-ion-icon {
    filter: invert(100%);
}

.dashboard-container {
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%
}

.box-hr {
    border-color: #ffffff;
    margin-top: 0;
}

.card-img-top {
    height: 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: transparent !important;
}

.card {
    background-color: transparent;
    border: transparent;
    text-align: center;
}

.row-no-margin {
    margin: 0;
    padding: 0;
} 

.card-title-area {
    height: 4rem;
    align-content: center;
    justify-content: center;
}

.card-title {
    font-size:18px;
    padding-top: 7px;
}

.dashboard-container .classname-span {
    border-right: 2px solid #ffffff;
    padding-right: 0.25em;
}

.dashboard-container .instructor-span {
    margin-left: 0.25em;
    font-size: 0.75em;
    font-weight: normal;
}

.lab-list-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-bottom: 1em;
    height:4em;
    transition: all .2s ease-in-out;
}

.lab-list-item:hover {
    transform: scale(1.025);
}

.lab-status-submitted {
    background-color: #FFFFFF;
}

.lab-status-unsubmitted {
    background-color: #FFD800;
}

.lab-status-completed {
    background-color: #007F46;
}

.lab-status-passed {
    background-color: #007F46;
}

.lab-status-upcoming {
    background-color: #FFFFFF;
}

.lab-row-height {
    height: 4em;
    width: 4.16666666667%;
    flex: 0 0 4.167%;
    max-width: 4.16666666667;
}

.lab-row-title {
    margin-left: 25px;
    margin-top: 5px;
}

.lab-row-grade {
    margin-top: 15px;
}

.lab-row-submissions{
    margin-top: 20px;
    text-align: center;
}

.lab-row-deadline {
    
    margin-top: 20px;
    text-align: center;
   
}

.lab-row-right-div {
    margin-left: 0 !important;
}

a, a:link, a:hover, a:active {
    text-decoration: none !important;
}

#logout-dropdown .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.55);
}

#logout-dropdown .dropdown-menu a{
    color: #ffffff;
}

#main-box {
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

#inline-ion-icon {
    height: 1em;
    transition: filter 0.15s ease-in-out;
}

#ion-login-button:hover #inline-ion-icon {
    filter: invert(100%);

}

label {
    font-size: 1.5em !important;
}

#selectColor {
    border: 0;
    width: 15%;
    height: 2rem;
    margin-left: 0.5rem;
    margin-top: 1em;
    border-radius: 5px;;
}

#submitAddClass {
    margin-top: 2rem;
    font-size: 15pt;
}

.error-lead {
    padding-bottom: 25px;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #ffffff;
}

.close, .close:hover {
    color: #ffffff;
}

.modal-footer {
    border: none;
}

#error-small {
    color: red;
}

.description-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    /* padding: 5px; */
    min-height: 650px;
}

.description-container-inner {
    padding: 10px;
}

.attached-files {
    padding: 10px;
}

.attached-files-list-item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.attached-files-list-item:hover {
    transform: scale(0.975);
}

#inline-download-icon {
    height: 1.5em;
    filter: invert(100%);
    padding-right: 0.5em;
}

.dropzone {
    background: rgba(0, 0, 0, 0.8) !important;
    color: #ffffff;
    border: 2px dashed rgba(255, 255, 255, 0.75) !important;
    border-image: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.submission-output {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.4);
    height: 60%;
}   

.lab-main-container {
    height: 100%;
}

.output-header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.output-body {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow: auto !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

.submission-list-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-bottom: 1em;
    height:5em;
    transition: all .2s ease-in-out;
}

.submission-list-item:hover {
    transform: scale(1.025);
}

.submission-status-completed {
    background-color: #FFFFFF;
}

.submission-status-pending {
    background-color: #FFD800;
}

.submission-status-failed {
    background-color: #a40000;
}

.submission-row-height {
    height: 5em;
    width: 4.16666666667%;
    flex: 0 0 4.167%;
    max-width: 4.16666666667;
}

.submission-row-title {
    margin-left: 25px;
    margin-top: 10px;
}

.submission-row-grade {
    margin-top: 25px;
}

.submission-row-submissions{
    margin-top: 25px;
    text-align: center;
}

.submission-row-deadline {
    
    margin-top: 20px;
    text-align: center;
   
}

.submission-row-right-div {
    margin-left: 0 !important;
}

#deadlineBoolInput, #submissionBoolInput, #gradingBoolInput, #autogradingBoolInput, #showStudentOutputBoolInput {
    width: 1em;
    height: 1em;
}

#labDescriptionInput {
    height: 7em;
}

.body-addlab {
    padding-bottom: 50px;
    margin-bottom: 50px;;
}

.autograding-group {
    display: none;
}

label[for="showStudentOutputBoolInput"], label[for="graderFileUpload"] {
    font-size: 1.25em !important;
}

.pageend-space {
    height: 3em;
}

#dropzone-submit-button, #dropzone-clear-button {
    width: 49%;
    box-shadow: none;
}

.stdout-output {
    color: #ffffff;
}

.system-output {
    color: #ffdb58;
}

.error-output {
    color: #FF0000;
}

.success-output {
    color: #00ff00;
}

.timeout-output {
    color: #FF0000;
}



